#main body {
    background-color: black;
    /*background-image: url(images/bg.gif);*/
    
    background-size: 100%;
}

body {
    background-color: black;
}

@media (max-width: 767px) {
  #menu {
    display: none !important;
  }
    #content {
        margin-left: 10% !important;
        width: 80% !important;
    }
    .cfc{
        transform: rotate(90deg);
        float:left;
    }
}


#content a{
    color:blue;
    display: block;
    text-decoration: none;
}

#content a:hover{
    color:white;
    background-color: blue;
}

#content {
  color:white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 30px;
    
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: normal;
  margin-left:300px;
  margin-right:40px;
  /*height: 550px;*/
  width: 70vw;
  height:70vh;

}

#artists {
  color:white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 30px;
    
  overflow-x: scroll;
  overflow: scroll;
  white-space: nowrap;
  margin-left:300px;
  /*height: 550px;*/
  width:70vw;
  height:80vh;
  position: fixed;

}

.profile {
    display: inline-block;
    margin-right: 40px;
}

.profile a{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    padding: -10px;
}

.profile a:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    padding: -10px;
    box-shadow: 5px 10px #0000ff;
}


#flag {
    margin-left:0vw;
    margin-bottom:0vh;
    filter:invert(100%);
    position:fixed;
    z-index: -1;
}

#menu {
    display: inline-block;
    
}

#menu ul {
    list-style-type: none;
    position: fixed;
}

#menu li a {
    display: block;
    font-size: 50px;
    text-decoration: none;
    color:white;
    font-family: 'Yantramanav', sans-serif;
    font-style: italic;
}


#menu li a:hover {
    background-color: white;
    color:black;
}

#back {
    position: fixed;
    width:100%;
    bottom:0px;
    display: inline-block;
}

#back a{
    margin-left: -10px;
    color:white;
    text-decoration: none;
    font-size: 100px;
    display: block;
}

#back a:hover{
    background-color: white;
    color:black;
}

.cfc {
    height: 100%;
    z-index: -1;
    position: fixed;
    left:0px;
    bottom:0px;
    float:right;
    
    
}
